@font-face {
  font-family: 'MaterialCommunityIcons';
  src: url('./MaterialCommunityIcons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'material-community';
  src: url('./MaterialCommunityIcons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
